*{
  margin: 0;
  box-sizing: border-box;

}

body{
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: black;
}

section{
    padding: 15px;
    text-align: center;
    font-family: monospace;
    border-radius: 12px;
    background-color: #121212;
    color: white;
}

p{
  font-size: 100px;
}

button{
   margin: 3px;
    padding: 8px;
    background-color: rgb(22, 30, 73);
     border: 3px solid rgb(134, 131, 131);
transition: transform 0.4s;
}

button:hover{
   background-color: white;
    border-color: black;
    cursor: pointer;
    transform: scale(1.1);
}

h1{
  font-size: 35px;
}